.fa:hover {
    opacity: 0.5;
}

.blog-content > p > img {
    max-height: 35vh;
    max-width: 90vw;
    margin: 0px auto;
}

.title-bg {
    height: 100%;
    width: 100%;
}

.title-bg{
    background:rgba(0,0,0,0.6);
  }

.btn-orange {
    background-color: darkorange;
    color: white;
    font-weight: bold;
  }

.btn-orange:hover {
    background-color: orange;
    color: white;
    font-weight: bold;
  }